.section {
  width: 100%;
  padding: 22px;
}

.list {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
}

.item {
  width: calc(100% / 5);
  overflow: hidden;
  text-align: center;
  border: 2px solid var(--bg);
  transition: all 0.2s ease-in-out;
}



.image {
  width: 100%;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: var(--sea);
  background-color: var(--dark);
  transition: all 0.2s ease-in-out;
}

.item:hover {
  border-color: var(--violet-dark);
}

.item:hover .title{
  color: var(--white);
}

.item:hover .image {
  transform: scale(1.1);
}
